footer {
    display: flex;
    flex-wrap: wrap;
    border: solid 2px blue;
}
.section1 {
    /* border: solid 2px blue; */
    display: flex;
    padding: 100%;
    width: 100%;
}

.section2 {
    /* border: solid 1px green; */
    width: 100%;
}

.div3 {
    /* border: solid 1px yellow; */
    width: 100%;
}

.section1div1 {
    /* border: solid 2px greenyellow; */
    width: 75%;
}

.section2Div2 {
    display: flex;
}

.section2Div3 {
    display: flex;
}
