
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 0 5%;
    height: 100%;
}
.logo{
    position: relative; /* Añadido para posicionar el logo */
    display: flex;
    flex-direction: column;
    /* border: 1px solid #33383b; */
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    max-width: 200px; /* ajusta según tu preferencia */
    margin: 5px;
    width: 10%;
    
    
}


ul{
    margin-left: 40px;
    font-family: Arial, sans-serif;
    color: black;
}
.contenedor{
    position: relative;
    background: black;
    display: flex;
    justify-content: center;
    color: black;
    width: 100%;
    margin-right:0 ;
}
form{
    height: 18%;
    margin: 3%;
}
.nav-item{
    
    
}
.navbar{
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    z-index: 9999; 
}
ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    /* Estilos que deseas aplicar */
    display: flex;
    align-items: center;
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
.d-flex{
    position: relative;
    padding:2px 20px;
    margin-left: auto;
    /* border: solid 2px yellow; */
}
.nav-link {
    color: aliceblue !important;
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.nav-link:hover{
    color:rgb(122, 122, 122) ;
}
.nav-link.login:hover {
    color: aliceblue;
}
.btn{
    padding: 10px 24px;
    border-radius: 30px;
    background-color:rgb(48, 48, 48);
    color: aliceblue !important;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(122, 122, 122);
}

