
.divCarrusel{
 width: 100%;
  
} 
.imgCarrusel{
border: solid 4px blue;
height: 20%;
width: 100%;
} 
.imagen{
  width: 100%;
  height: 500px;
  border-radius: 0;
}
.slick-slide img {
  animation: slide  12s infinite alternate ease-in-out;
}

@keyframes slide {
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}

  }
